<button
  [disabled]="disabled || loading"
  class="button {{ color }} {{ mode }}"
  [ngClass]="{ 'w-full': block }"
  [type]="type"
>
  <div class="flex flex-row gap-1 justify-center items-center">
    <hero-icon
      *ngIf="icon && !loading"
      [name]="icon"
      [type]="iconType"
      [class]="'w-4 h-4'"
    ></hero-icon>
    <hero-icon
      *ngIf="loading"
      [name]="'refresh'"
      [type]="'outline'"
      [class]="'w-4 h-4 animate-spin'"
    ></hero-icon>
    <ng-content></ng-content>
  </div>
</button>
