<app-card class="auth-card">
  <div class="flex-container">
    <div class="flex-container--img">
      <img
        src="assets/images/register-bg.png"
        alt="login background gradient"
      />
    </div>
    <div class="flex-container--form">
      <div class="mb-4">
        <h4 class="font-extrabold text-3xl text-brand">Regístrate</h4>
        <p class="font-light text-gray-600">Regístrate para poder acceder</p>
      </div>
      <form
        class="w-full py-4"
        autocomplete="nope"
        [formGroup]="registerForm"
        (ngSubmit)="submitRegistration()"
      >
        <div class="mb-8">
          <app-input
            label="Nombre"
            name="name"
            placeholder="Nombre"
            [parent]="registerForm"
          >
          </app-input>
          <app-input
            label="Correo"
            name="email"
            placeholder="Correo"
            [parent]="registerForm"
          ></app-input>
          <app-input
            label="Contraseña"
            name="password"
            placeholder="Contraseña"
            type="password"
            [parent]="registerForm"
          ></app-input>
          <app-input
            label="Confirmar contraseña"
            name="password_comfirmation"
            placeholder="Repite la contraseña"
            type="password"
            [parent]="registerForm"
          ></app-input>
        </div>

        <app-button
          [loading]="loading"
          [block]="true"
          type="submit"
          [disabled]="!registerForm.valid"
          >Registrarme</app-button
        >
      </form>
      <hr />
      <div class="mt-4">
        <p class="my-2">
          Si ya tienes cuenta
          <a [routerLink]="['../', 'login']" class="font-bold">Inicia Sesión</a>
        </p>
      </div>
    </div>
  </div>
</app-card>
