<div class="flex h-screen">
  <app-card
    class="m-auto lg:min-h-[700px] lg:h-4/5 w-full min-h-3/5 lg:w-1/2 sm:w-3/4 p-4"
  >
    <div class="flex md:flex-row flex-col h-full">
      <div class="md:h-full h-32 md:w-2/3 w-full">
        <img
          src="assets/images/register-bg.png"
          class="h-full w-full object-cover md:rounded-l-md rounded-t-md"
          alt="login background gradient"
        />
      </div>
      <div class="w-full px-12 py-12 self-center flex flex-col">
        <div class="mb-4">
          <h4 class="font-extrabold text-3xl text-brand">Regístrate</h4>
          <p class="font-light text-gray-600">Regístrate para poder acceder</p>
        </div>
        <form
          class="w-full py-4"
          autocomplete="nope"
          [formGroup]="registerForm"
          (ngSubmit)="submitRegistration()"
        >
          <div class="mb-8">
            <app-input
              label="Nombre"
              name="name"
              placeholder="Nombre"
              [parent]="registerForm"
            >
            </app-input>
            <app-input
              label="Correo"
              name="email"
              placeholder="Correo"
              [parent]="registerForm"
            ></app-input>
            <app-input
              label="Contraseña"
              name="password"
              placeholder="Contraseña"
              type="password"
              [parent]="registerForm"
            ></app-input>
            <app-input
              label="Confirmar contraseña"
              name="password_comfirmation"
              placeholder="Repite la contraseña"
              type="password"
              [parent]="registerForm"
            ></app-input>
          </div>

          <app-button
            [loading]="loading"
            [block]="true"
            type="submit"
            [disabled]="!registerForm.valid"
            >Registrarme</app-button
          >
        </form>
        <hr />
        <div class="mt-4">
          <p class="my-2">
            Si ya tienes cuenta
            <a [routerLink]="['../', 'login']" class="font-bold"
              >Inicia Sesión</a
            >
          </p>
        </div>
      </div>
    </div>
  </app-card>
</div>
