input.ng-invalid.ng-touched {
  @apply border-red-400 text-red-700 dark:text-red-100  ;
}

.label-floating input:not(:placeholder-shown),
.label-floating textarea:not(:placeholder-shown) {
  padding-top: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.label-floating input:not(:placeholder-shown) ~ label,
.label-floating textarea:not(:placeholder-shown) ~ label {
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  @apply text-brand-600 dark:text-brand-200
}

.error-message {
  transition: all 0.2s ease-in-out;
}
