  <app-card class="auth-card">
    <div class="flex-container">
      <div class="flex-container--img">
        <img
          src="assets/images/login-bg.png"
          alt="login background gradient"
        />
      </div>
      <div class="flex-container--form">
        <div class="mb-4">
          <h4 class="font-extrabold text-3xl text-brand">Recuperar cuenta</h4>
          <p class="font-light text-gray-600">
            Escribe tu correo y te enviaremos un enlace de recuperación.
          </p>
        </div>
        <form
          class="w-full py-8"
          autocomplete="nope"
          [formGroup]="accountRecoveryForm"
          (ngSubmit)="onSubmitRecovery()"
        >
          <div class="mb-8">
            <app-input
              name="email"
              placeholder="Correo"
              [parent]="accountRecoveryForm"
            ></app-input>

            <ng-container *ngIf="errorMessage">
              <span class="text-red-500 font-medium transition-all"
                >{{ errorMessage }}
              </span>
            </ng-container>
          </div>

          <app-button
            [block]="true"
            type="submit"
            [disabled]="!accountRecoveryForm.valid"
            >Enviar Enlace</app-button
          >
        </form>
        <hr />
        <div class="mt-4">
          <p class="my-2">
            ¿No tienes cuenta?
            <a [routerLink]="['../', 'register']" class="font-bold"
              >Regístrate aqui</a
            >
          </p>
          <p class="my-2">
            Si ya tienes cuenta
            <a [routerLink]="['../', 'login']" class="font-bold"
              >Inicia Sesión</a
            >
          </p>
        </div>
      </div>
    </div>
  </app-card>
